.mb-small {
    margin-bottom: 10px;
}

.mb-mid {
    margin-bottom: 20px;
}

.mb-big {
    margin-bottom: 30px;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    background-color: black;
}

.header-nav{
    display: flex;
}

.header-items {
    margin-right: 15px;
    padding: 5px;
    border: 2px solid white;
}

.header-items:hover {
    cursor: pointer;
    color: blue;
    border-color: blue;
    background-color: white;
}

.login-box {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 20px;
    background-color: #a0aec0;
    width: max-content;
    height: max-content;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.login-header {
    font-size: 35px;
    font-weight: 700;
    color: white;
    padding-bottom: 20px;
}

.text-input {
    padding: 10px;
    background-color: #edf2f7;
    border: 2px solid #e2e8f0;
    color: #4a5568;
    margin-bottom: 15px;
}

.link {
    color: #4a5568;
    text-decoration: none;
}

.link:hover {
    color: #e2e8f0;
}

.divider {
    border-top: 1px solid white;
    width: auto;
}

.login-button {
    width: 100%;
    background-color: white;
    padding: 7px;
    font-size: 20px;
    border-color: #e2e8f0;
    border-radius: 10px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #edf2f7;
}

.streamer-menu {
    text-align: left;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: auto;
    margin-left: 120px;
    margin-right: 120px;
}

.wrapper-video {
    margin: 50px 0 0 30px;
}

.video-container {
    width: 720px;
}

.display-video {
    /* Adjust the width as needed */
    width: 30%;
    height: 42vh;
    margin: 10px;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    text-decoration: none;
}

.display-video:hover{
    background-color: #e2e8f0;
}

.display-video-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.hero-index-user {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #edf2f7;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 20px;
    padding-top: 20px;
}

.thumbnail{
    width: 100%;
    height: 30vh;
}

.display-video-title{
    font-size: 20px;
    color: black;
    margin-bottom: 5px;
}

.display-video-desc{
    font-size: 15px;
    color: black;
    display: flex;
    justify-content: space-between;
}

.sponsor-wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.sponsor-container{
    width: 30%;
    height: fit-content;
    border: 1px solid white;
}

.sponsor-name{
    font-size: 20px;
    text-align: center;
    background-color: #a0aec0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 3px solid #e2e8f0;
    margin-bottom: 10px;
}

.checkbox-streamer{
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #e2e8f0;
    background-color: #718096;
    margin-right: 10px;
}

.profile-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.input-wrapper{
    display: flex;
    align-items: center;
}

.input-attribute {
    margin-right: 15px;
    width: 15%;
}

.content-wrapper{
    padding: 25px;
    margin-bottom: 15px;
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    font-size: 20px;
}

.statistics-wrapper{
    display: flex; 
    justify-content: space-around;
    font-size: 20px;
}

.donation-wrapper {
    border: 1px solid white;
    padding-left: 20px;
    margin-bottom: 10px;
}

.wrapper-title {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 20px;
}

.watch-wrapper {
    display: flex; 
    flex-direction: row; 
    justify-content: start; 
    height: 100vh;
}

.sidebar-wrapper {
    width: 15%;
    /* background-color: red; */
    background-color: #1A202C;
    border: 1px solid #4A5568;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-wrapper {
    width: 85%;
    /* background-color: blue; */
}

.recommended-title {
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 15px;
}

.recommended-wrapper {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    text-decoration: none;
    color: white;
}

.recommended-wrapper:hover{
    background-color: #718096;
}

.video-watch{
    width: 100%;
    height: 80vh;
}

.video-info-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
}

.video-info-streamer-wrapper {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.video-info-streamer-name{
    font-size: 30px;
    margin-bottom: 5px;
}

.video-info-genre-wrapper{
    display: flex;
    flex-direction: row;
}

.video-info-genre {
    border: 1px solid white;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
    margin-right: 10px;
    background-color: #2D3748;
}

.follow-and-subscribe-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.follow-and-subscribe-button {
    width: fit-content;
    padding: 5px 10px 5px 10px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.follow-and-subscribe-button:hover {
    background-color: #CBD5E0;
}

.watch-button,
.follow-button,
.subscribe-button {
    width: 100px;
    margin: 0 10px;
    text-align: right;
}